{% extends 'skoleni.html'%}

{% block nosaukums %} Atzīmju lapa {% endblock %}

{% block saturs %}
<form method="post">
    <select id="atsubject" name="atsubjct"></select>
    <select id="atname" name="atname"></select>
    <input type="number" id="grade" name="grade" placeholder="Atzīme" min="1" max="10">
    <input type="submit" value="Pievienot!">
    <h3>{{aizsutitais}}</h3>
    <table class="table">
        <tr>
          <th>Skolēns</th>
          <th>Priekšmets</th>
          <th>Atzīme</th>
        </tr>
        {% for viens in atzime %}
            <tr>
              <td>{{viens[0]}}</td>
              <td>{{viens[1]}}</td>
            </tr>
        {% endfor %}
    </table>
</form>    
{% endblock %}
