{% extends 'skoleni.html'%}

{% block nosaukums %} Atzīmju lapa {% endblock %}

{% block saturs %}
<form>
    <input type="number" id="grade" name="grade" placeholder="Atzīme" min="1" max="10">
    <select id="grade" name="grade">
        <option value="" disabled selected hidden>Atzīme</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="F">F</option>
    </select>
    <select id="grade" name="grade">
        <option value="" disabled selected hidden>Atzīme</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="F">F</option>
    </select>
    <input type="submit" value="Pievienot!">
    <table border="1">
        <tr>
          <th></th>
          <th>Skolēns</th>
          <th>Priekšmets</th>
          <th>Atzīme</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </table>
</form>    
{% endblock %}
