{% extends 'skoleni.html'%}

{% block nosaukums %} Priekšmets un skolotāji {% endblock %}

{% block saturs %}
<form method="post">
  <select id="vards" name="vards">
    {% for viens in skolotaji %}
      <option value="{{viens[0]}}">{{viens[1]}} {{viens[2]}}</option>
    {% endfor %}    
  </select>
  <select id="subject" name="subject">
    {% for viens in prieksmeti %}
      <option value="{{viens[0]}}">{{viens[1]}}</option>
    {% endfor %}    
  </select>
  <input type="submit" value="Pievienot!">
  <h3>{{aizsutitais}}</h3>
  <table class="table">
      <tr>
        <th>Skolotājs</th>
        <th>Priekšmets</th>
      </tr>
      {% for viens in prieksmetiunskolotaji %}
          <tr>
            <td>{{viens[0]}}</td>
            <td>{{viens[1]}}</td>
          </tr>
      {% endfor %}
  </table>
</form>    
{% endblock %}
