{% extends 'skoleni.html'%}

{% block nosaukums %} Skolotaju lapa {% endblock %}

{% block saturs %}
<form>
    <input type="text" id="name" name="name" placeholder="Vārds">
    <input type="text" id="lastname" name="lastname" placeholder="Uzvārds">
    <input type="text" id="subject" name="subject" placeholder="Priekšmets">
    <input type="submit" value="Pievienot!">
    <table border="1">
        <tr>
          <th></th>
          <th>Vārds</th>
          <th>Uzvārds</th>
          <th>Priekšmets</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </table>
</form>    
{% endblock %}
