{% extends 'skoleni.html'%}

{% block nosaukums %} Skolotaju lapa {% endblock %}

{% block saturs %}
<form method="post">
    <input type="text" id="skvards" name="skvards" placeholder="Vārds">
    <input type="text" id="skuzvards" name="skuzvards" placeholder="Uzvārds">
    <input type="submit" value="Pievienot!">
    <h3>{{aizsutitais}}</h3>
    <table class="table">
        <tr>
          <th>Vārds</th>
          <th>Uzvārds</th>
        </tr>
        {% for viens in skolotaju %}
            <tr>
              <td>{{viens[0]}}</td>
              <td>{{viens[1]}}</td>
            </tr>
        {% endfor %}
    </table>
</form>    
{% endblock %}
