{% extends 'skoleni.html'%}

{% block nosaukums %} Tabulas lapa {% endblock %}

{% block saturs %}
<form>
    <table border="1">
        <tr>
          <th></th>
          <th>Vārds</th>
          <th>Uzvārds</th>
          <th>Priekšmets</th>
          <th>Vidējā atzīme</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </table>
</form>    
{% endblock %}
